.formCont{
  background-color: rgb(126, 160, 129);
  height: 60%;
  width: 30%;
  display: flex;
  justify-content: center;
  border-radius: 20px;

}
input{
   padding: 20px; 
   margin-top: 5px;
   display: flex;
   width: 100%; 
   gap:10px;
  border-radius: 5px;
  font-size: small;
}
.addStudent{
    padding: 15px;
    border-radius: 10px;
    margin-top: 2px;
    background-color: rgb(65, 148, 10);
    margin-top: 5px;
    color: aliceblue;
}
.formInputs{
   display: flex ;
  justify-content: center;
  align-items: center; 

   flex-direction: column; 
  
}