body{
  display: flex;
  justify-content: center;
}

table , td{
  border: 1px solid black;
}
th, td{
  padding: 5px;
}
th {
 background-color: #04AA6D;
  color: white;
}
.form{
  display: flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(52, 78, 25);
  justify-content: center;
}
.studentDisplay{
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
}